@import './variables.module.css';
@import './colors.module.css';
@import './typography.module.css';
@import './spacing.module.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

:root {
    --background-color: var(--white);
}

body {
    font-family: var(--font-family);
    background-color: var(--beige-100);
}
