:root {
    --spacing-050: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 24px;
    --spacing-300: 32px;
    --spacing-350: 36px;
    --spacing-400: 40px;
    --spacing-500: 48px;
    --spacing-600: 56px;
    --spacing-700: 64px;
}
