.balanceCard {
    width: 100%;
    padding: var(--spacing-250);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.balanceCardDark {
    background-color: var(--grey-900);
    color: var(--white);
}

.balanceCardLight {
    background-color: var(--white);
    color: var(--grey-900);
}

.balanceCardValue {
    composes: textPreset1 from '../../../styles/presets.module.css';
}
