.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

@media screen and (min-width: 1440px) {
    .loginPage {
        align-items: flex-end;
    }

    .loginFormContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
}
