.deleteButton {
    background-color: var(--red);
    border-radius: var(--border-radius);
    width: 100%;
    padding: var(--spacing-200);
    border: none;
    cursor: pointer;
    composes: textPreset4Bold from '../../../styles/presets.module.css';
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}