/** Indicator Colors */
.green {
    background-color: var(--green);
}

.yellow {
    background-color: var(--yellow);
}

.cyan {
    background-color: var(--cyan);
}

.navy {
    background-color: var(--navy);
}

.red {
    background-color: var(--red);
}

.purple {
    background-color: var(--purple);
}

.light-purple {
    background-color: var(--light-purple);
}

.turquoise {
    background-color: var(--turquoise);
}

.brown {
    background-color: var(--brown);
}

.magenta {
    background-color: var(--magenta);
}

.blue {
    background-color: var(--blue);
}

.navy-grey {
    background-color: var(--navy-grey);
}

.army-green {
    background-color: var(--army-green);
}

.gold {
    background-color: var(--gold);
}

.orange {
    background-color: var(--organge);
}

.cardContainer {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: var(--spacing-250);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardTitleContainer {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.cardIndicator {
    height: var(--spacing-200);
    width: var(--spacing-200);
    border-radius: 50%;
}

.cardTitle {
    composes: textPreset2 from '../../../styles/presets.module.css';
    color: var(--grey-900);
}